.panflin 
{
    
  
  font-size: 14px;
    margin-right: 130px ;
    margin-left: 130px; 
    
}   
*{ 
    font-family: 'Montserrat', sans-serif;
 
}    































